body {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 100px;
    margin-left: 100px;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 25px;
    padding-left: 50px;
}

.tooltip{
    position:fixed;
    display:none;
    background-color: grey;
    opacity: .9;
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 8px;
  }

h1 {
    color: darkcyan;
    font-style: italic;
    font-family:sans-serif;
}